@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/OpenSansCondensed-Light.woff2') format('woff2'), 
         url('fonts/OpenSansCondensed-Light.woff') format('woff'); 
    font-weight: 300; // Light
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/OpenSansCondensed-Regular.woff2') format('woff2'), 
         url('fonts/OpenSansCondensed-Regular.woff') format('woff'); 
    font-weight: normal; // Regular
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans Condensed';
    src: url('fonts/OpenSansCondensed-Medium.woff2') format('woff2'), 
         url('fonts/OpenSansCondensed-Medium.woff') format('woff'); 
    font-weight: 500; // Medium
    font-style: normal;
}


@font-face {
    font-family: 'Denistina';
    src: url('../fonts/Denistina.woff2') format('woff2'), 
         url('../fonts/Denistina.woff') format('woff'); 
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.divider {
    width: 60px;
    height: 0.5px;
    background-color: #000;
    margin: 25px auto 0 auto;
}

p {
    margin: 0;
}

h1 {
    font-family: 'Denistina', sans-serif;
}

h2 {
    font-family: 'Denistina', sans-serif;
    font-size: 35px;
}

h5 {
    color: #fff;
}